<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <display-name>Archetype Created Web Application</display-name>
 <servlet>
  <display-name>ListCustomerController</display-name>
  <servlet-name>ListCustomerController</servlet-name>
  <servlet-class>comm.example.controller.ListCustomerController</servlet-class>
 </servlet>
 <servlet>
  <display-name>InputCustomerController</display-name>
  <servlet-name>InputCustomerController</servlet-name>
  <servlet-class>comm.example.controller.InputCustomerController</servlet-class>
 </servlet>
 <servlet>
  <display-name>DeleteServlet</display-name>
  <servlet-name>DeleteServlet</servlet-name>
  <servlet-class>comm.example.controller.DeleteServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>UpdateServlet</display-name>
  <servlet-name>UpdateServlet</servlet-name>
  <servlet-class>comm.example.controller.UpdateServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>UpdateCustomer</display-name>
  <servlet-name>UpdateCustomer</servlet-name>
  <servlet-class>comm.example.controller.UpdateCustomer</servlet-class>
 </servlet>
 <servlet>
  <display-name>SearchServlet</display-name>
  <servlet-name>SearchServlet</servlet-name>
  <servlet-class>comm.example.controller.SearchServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>SortServlet</display-name>
  <servlet-name>SortServlet</servlet-name>
  <servlet-class>comm.example.controller.SortServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ListCustomerController</servlet-name>
  <url-pattern>/list.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InputCustomerController</servlet-name>
  <url-pattern>/controller.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteServlet</servlet-name>
  <url-pattern>/delete.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateServlet</servlet-name>
  <url-pattern>/Update.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateCustomer</servlet-name>
  <url-pattern>UpdateCustomer.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchServlet</servlet-name>
  <url-pattern>SearchServlet.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SortServlet</servlet-name>
  <url-pattern>SortServlet.do</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
</web-app>
